*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Common CSS */
/* Text color */
.primary_color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secondary_color{
 color: #ff42a5;
}
.black_color{
    color: #0B0223;
}
.white_color{
    color:#fff;
}
.gray_color{
    color: #534C64;
}
/* background color */
.primary_background_color{
    background-color: #ff42a5;
}
.secondary_background_color{
    background: #4EC5F7;
}

/* Boder-Radius */
.b_radius_1{
    border-radius: 48px;
}
.b_radius_2{
    border-radius: 50px;
}
.b_radius_3{
    border-radius: 16px;
}
.b_radius_4{
    border-radius: 8px;
}
/* All section, header and footer need these style */
section, header, footer{
    display: flex;
    justify-content: center;
}
.container{
    width: 80vw;
}


/* Header section style */
.header_logo{
    grid-area: logo;
}
.header_nav_menu_item{
    grid-area: menu;
}
.header_action{
    grid-area: action;
}
  
.header_section .container{
    display: grid;
    grid-template-areas: 'logo logo logo logo logo logo  logo  logo menu action';
    align-items: center;
    padding: 30px 0;
}
.header_section img{
    width: 73px;
    height: 37x;
}
.header_section strong{
    font-size: 45px;
    font-weight: 700;
}

nav.header_nav_menu_item ul {
        display: flex;
        list-style: none;
        margin-left: 8px;
        /* justify-content: flex-end; */
        /* margin-right: 40px; */
}
nav.header_nav_menu_item ul li{
    margin-left: 50px;
}
nav.header_nav_menu_item ul li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.header_action button {
    width: 100%;
    height: 50px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    border: none;
}
i.fa-brands.fa-youtube {
    color: #f61c0d;
    font-size: 24px;
}
i.fa-brands.fa-tiktok {
    color: #111111;
    filter: drop-shadow(-0px -1px 0 #24f6f0) contrast(150%) brightness(110%);
    z-index: -1;
  }
  
  .fa-tiktok::before {
    content: "\e07b";
    filter: drop-shadow(1px 1px 0 #F70250) contrast(150%) brightness(110%);
    z-index: -1;
  }
  button.b_radius_4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* For Desktop View */
@media screen and (min-width: 767px) {
    .header_action .container{
        grid-template-columns: inherit 100% 100%;
    }
}