*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Work Sans', sans-serif;
}
/* Common CSS */
/* Text color */
.primary_color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secondary_color{
 color: #ff42a5;
}
.black_color{
    color: #0B0223;
}
.white_color{
    color:#fff;
}
.gray_color{
    color: #534C64;
}
/* background color */
.primary_background_color{
    background-color: #ff42a5;
}
.secondary_background_color{
    background: #4EC5F7;
}

/* Boder-Radius */
.b_radius_1{
    border-radius: 48px;
}
.b_radius_2{
    border-radius: 50px;
}
.b_radius_3{
    border-radius: 16px;
}
.b_radius_4{
    border-radius: 8px;
}
/* All section, header and footer need these style */
section, header, footer{
    display: flex;
    justify-content: center;
}
.container{
 width: 80vw;
}


/* Header section style */
.header_logo{
    grid-area: logo;
}
.header_nav_menu_item{
    grid-area: menu;
}
.header_action{
    grid-area: action;
}
  
.header_section .container{
    display: grid;
    grid-template-areas: 'logo logo logo logo logo logo  logo  logo menu action';
    align-items: center;
    padding: 30px 0;
}
.header_section img{
    width: 73px;
    height: 37x;
}
.header_section strong{
    font-size: 45px;
    font-weight: 700;
}

nav.header_nav_menu_item ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
}
nav.header_nav_menu_item ul li{
    margin-left: 50px;
}
nav.header_nav_menu_item ul li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.header_action {
    display: flex;
    justify-content: flex-end;
}
.header_action button {
    width: 225px;
    height: 45px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

i.fa-brands.fa-youtube {
    color: #f61c0d;
    font-size: 24px;
}
i.fa-brands.fa-tiktok {
    color: #111111;
    filter: drop-shadow(-0px -1px 0 #24f6f0) contrast(150%) brightness(110%);
    z-index: -1;
  }
  
  .fa-tiktok::before {
    content: "\e07b";
    filter: drop-shadow(1px 1px 0 #F70250) contrast(150%) brightness(110%);
    z-index: -1;
  }
  button.b_radius_4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Banner Section */
.banner-section{
    background-color: #fcf6fd;
    height: 600px;
}
.banner-section .container{
    display: grid;
    height: inherit;
    grid-template-areas: 'banner-section-item-1 banner-section-item-2 ';
    grid-template-columns: 50%;
}
/* item 1 */
.banner-section-item-1{
    grid-area: banner-section-item-1;
    height: inherit;
    display: flex;
    align-items: center;

}
h2.title-1 {
    font-size: 40px;
    font-weight: 600;
}
h2.title-2 {
    font-size: 75px;
    font-weight: 800;
}
.banner-section-item-1 p{
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0;
}
.banner-section-item-1 span {
    margin-left: 8px;
}
.banner-section-item-1 button{
    padding: 18px 35px;
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
    margin-top: 15px;
}
/* item 2 */
.banner-section-item-2{
    grid-area: banner-section-item-2;
    height: inherit;
}
.banner-section-item-2 img{
    height: inherit;
}
/* fix error */
.banner-section-item-2 img {

    width: 100%;
}

/* online gamer section */
.game-section{
    padding: 100px 0;
}
.row h2{
    font-size: 48px;
    font-weight: 700;
}
.row p{
    font-size: 18px;
    font-weight: 400;
    margin:15px;
}

.row2 {
    display: flex;
    justify-content: space-between;
}
.row2 {
    margin-top: 30px;
}
.img {
    width: 23%;
}
.img img {
    width: 100%;
}
.img p{
    font-size: 15px;
    font-weight: 500;
}
/* For Mobile View */

@media screen and (max-width: 768px) {
    /* Header secion */
    .header_section .container{
        grid-template-areas: 
        'logo'
        'menu'
        'action'
        ;
    }
    .header_logo {
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
        margin-bottom: 10px;
    }
    .header_logo img, strong {
        margin: 0px 5px;
    }
    .header_logo img {
        width: 50px;
    }
    .header_logo strong {
        font-size: 30px;
    }
    nav.header_nav_menu_item ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }
    nav.header_nav_menu_item ul li {
        margin: 15px 0px;
    }
    .header_action {
        display: flex;
        justify-content: center;
        margin-top:15px;
    }

    /* Banner Section */
    .banner-section {
        background-color: #fff;
        height: auto;
    }
    .banner-section .container{
        grid-template-areas: 'banner-section-item-2' 'banner-section-item-1';
    }
    .banner-section-item-1 {
        background-color: #fcf6fd;
        justify-content: center;
        width: 80vw;
        height: auto;
        padding: 50px 0;
    }
    h2.title-1 {
        font-size: 27px;
    }
    h2.title-2 {
        font-size: 50px;
    }
    .banner-section-item-1 p {
        font-size: 10px;
    }
    .banner-section-item-1 button {
        padding: 8px 12px;
        font-size: 15px;
    }
    element.style {
        margin-left: 5px;
    }
    .banner-section-item-2 {
        height: auto;
        width: 80vw;
        display: flex;
        justify-content: center;
    }
    .banner-section-item-2 img {
        width: 70vw;
        height: auto;
    }
}