*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Work Sans', sans-serif;
}
/* Common CSS */
/* Text color */
.primary_color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secondary_color{
 color: #ff42a5;
}
.black_color{
    color: #0B0223;
}
.white_color{
    color:#fff;
}
.gray_color{
    color: #534C64;
}
/* background color */
.primary_background_color{
    background-color: #ff42a5;
}
.secondary_background_color{
    background: #4EC5F7;
}

/* Boder-Radius */
.b_radius_1{
    border-radius: 48px;
}
.b_radius_2{
    border-radius: 50px;
}
.b_radius_3{
    border-radius: 16px;
}
.b_radius_4{
    border-radius: 8px;
}
/* All section, header and footer need these style */
section, header, footer{
    display: flex;
    justify-content: center;
}
.container{
 width: 80vw;
}


/* Header section style */
.header_logo{
    grid-area: logo;
}
.header_nav_menu_item{
    grid-area: menu;
}
.header_action{
    grid-area: action;
}
  
.header_section .container{
    display: grid;
    grid-template-areas: 'logo logo logo logo logo logo  logo  logo menu action';
    align-items: center;
    padding: 30px 0;
}
.header_section img{
    width: 73px;
    height: 37x;
}
.header_section strong{
    font-size: 45px;
    font-weight: 700;
}

nav.header_nav_menu_item ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
}
nav.header_nav_menu_item ul li{
    margin-left: 50px;
}
nav.header_nav_menu_item ul li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.header_action {
    display: flex;
    justify-content: flex-end;
}
.header_action button {
    width: 225px;
    height: 45px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

i.fa-brands.fa-youtube {
    color: #f61c0d;
    font-size: 24px;
}
i.fa-brands.fa-tiktok {
    color: #111111;
    filter: drop-shadow(-0px -1px 0 #24f6f0) contrast(150%) brightness(110%);
    z-index: -1;
  }
  
  .fa-tiktok::before {
    content: "\e07b";
    filter: drop-shadow(1px 1px 0 #F70250) contrast(150%) brightness(110%);
    z-index: -1;
  }
  button.b_radius_4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Banner Section */
.banner-section{
    background-color: #fcf6fd;
    height: 600px;
}
.banner-section .container{
    display: grid;
    height: inherit;
    grid-template-areas: 'banner-section-item-1 banner-section-item-2 ';
    grid-template-columns: 50%;
}
/* item 1 */
.banner-section-item-1{
    grid-area: banner-section-item-1;
    height: inherit;
    display: flex;
    align-items: center;

}
h2.title-1 {
    font-size: 40px;
    font-weight: 600;
}
h2.title-2 {
    font-size: 75px;
    font-weight: 800;
}
.banner-section-item-1 p{
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0;
}
.banner-section-item-1 span {
    margin-left: 8px;
}
.banner-section-item-1 button{
    padding: 18px 35px;
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
    margin-top: 15px;
}
/* item 2 */
.banner-section-item-2{
    grid-area: banner-section-item-2;
    height: inherit;
}
.banner-section-item-2 img{
    height: inherit;
}
/* fix error */
.banner-section-item-2 img {

    width: 100%;
}

/* online gamer section */
.game-section{
    padding: 100px 0;
}
.row h2{
    font-size: 48px;
    font-weight: 700;
}
.row p{
    font-size: 18px;
    font-weight: 400;
    margin:15px;
}

.row2 {
    display: flex;
    justify-content: space-between;
}
.row2 {
    margin-top: 30px;
}
.img {
    width: 23%;
}
.img img {
    width: 100%;
}
.img p{
    font-size: 15px;
    font-weight: 500;
}

/* Play Instanly section */
section.play {
    padding-bottom: 100px;
}
.play-info h2{
    font-size: 48px;
    font-weight: 700;
    text-align: end;
}
.play-info p {
    font-size: 16px;
    font-weight: 400;
    text-align: end;
    line-height: 26px;
    margin-top: 20px;
}
section.play .container {
    display: flex;
    align-items: center;
}
.play-info, .play-media {
    width: 50%;
    height: 525px;
}
.play-media img {
    width: 80%;
}
.play-info {
    display: flex;
    align-items: center;
}
.bg-img {
    background-image: url(./images/Rectangle\ 55.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100%;
}
.info {
    width: 344px;
    margin: 0 auto;
}
.play-media img {
    width: 260px;
    position: relative;
    bottom: -294px;
    left: -18px;
}

/* user section */
.user-section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 200px;

}
.user1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 18%;
    height: 70px;
    border: 2px solid #ff42a400;
    border-radius: 48px;
    cursor: pointer;
}
.user1:hover {
    border: 2px solid #ff42a5;
    border-radius: 48px;
    cursor: pointer;
    color: #ff42a5;
}
section.user-section {
    padding: 100px 0;
}

/* footer section */
footer{
    background: #0B0223;
    padding: 100px 0;
}
.footer-logo {
    display: flex;
    justify-content: center;
    height: 44px;
    align-items: center;
}
footer strong {
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}
.footer-nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer-nav-menu ul li{
    margin: 0 20px;
}
.footer-nav-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
footer i {
    font-size: 40px;
}
footer i.fa-brands.fa-youtube {
    color: white;
    font-size: 40px;
}
.terms-of-service a, .copyright p{
    font-size: 13px !important;
    color: gray !important;
}
.copyright p {
    text-align: center;
    margin-top: 20px;
}



/* bonous part style  */
.game-section .img{
    position: relative;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 130px;
    left: 81px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.game-section .img:hover .overlay{
    visibility: visible;
    opacity: 1;
}
.overlay i.fa-regular.fa-circle-play {
    font-size: 50px;
    color: white;
}
.overlay p{
    font-size: 20px;
}
.game-section .img{
    position: relative;
}
.game-section .img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89%;
    border-radius: 10px;
    background-color: black;
    opacity: .6;
    visibility: hidden;
}
.game-section .img:hover::before {
    visibility: visible;
}

/* For Mobile View */
@media screen and (max-width: 768px) {
    /* Header secion */
    .header_section .container{
        grid-template-areas: 
        'logo'
        'menu'
        'action'
        ;
    }
    .header_logo {
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
        margin-bottom: 10px;
    }
    .header_logo img, strong {
        margin: 0px 5px;
    }
    .header_logo img {
        width: 50px;
    }
    .header_logo strong {
        font-size: 30px;
    }
    nav.header_nav_menu_item ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }
    nav.header_nav_menu_item ul li {
        margin: 15px 0px;
    }
    .header_action {
        display: flex;
        justify-content: center;
        margin-top:15px;
    }

    /* Banner Section */
    .banner-section {
        background-color: #fff;
        height: auto;
    }
    .banner-section .container{
        grid-template-areas: 'banner-section-item-2' 'banner-section-item-1';
    }
    .banner-section-item-1 {
        background-color: #fcf6fd;
        justify-content: center;
        width: 80vw;
        height: auto;
        padding: 50px 0;
    }
    h2.title-1 {
        font-size: 27px;
    }
    h2.title-2 {
        font-size: 50px;
    }
    .banner-section-item-1 p {
        font-size: 10px;
    }
    .banner-section-item-1 button {
        padding: 8px 12px;
        font-size: 15px;
    }
    element.style {
        margin-left: 5px;
    }
    .banner-section-item-2 {
        height: auto;
        width: 80vw;
        display: flex;
        justify-content: center;
    }
    .banner-section-item-2 img {
        width: 70vw;
        height: auto;
    }

    /* Online games section */
    .game-section {
        padding: 50px 0;
    }
    .row h2 {
        font-size: 24px;
    }
    .row p {
        font-size: 18px;
        margin: 15px;
    }
    .row2 {
        flex-direction: column;
    }
    .img {
        width: 100%;
        margin-bottom: 40px;
    }
    .img p{
        text-align: center;
        font-size: 13px;
    }

    /* Play Instantly section */
    section.play .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .play-info, .play-media {
        width: 100%;
    }
    .play-info h2 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    .play-info p {
        font-size: 13px;
        text-align: center;
        margin-top: 15px;
    }
    .play-info {
        width: 50%;
        height: auto;
    }
    .play-media img {
        width: 40%;
        position: relative;
        bottom: -294px;
        left: -18px;
    }
    .bg-img {
        margin-top: 10px;
    }
    .play-media img {
        width: 40%;
        position: relative;
        bottom: -324px;
        left: -19px;
    }
    .play-info {
        width: 100%;
        height: auto;
    }
    .play-media {
        margin-top: -91px;
    }

    /* user section */
    .user1 {
        width: 31%;
        height: 55px;
    }
    .user1 img {
        width: 50px;
    }
    .user1 b {
        font-size: 10px;
    }
    section.user-section {
        padding-top: 0;
        padding-bottom: 50px;
    }
    /* footer section */
    .footer-logo img {
        width: 50px;
    }
    footer strong {
        font-size: 28px;
        margin-left: 10px;
    }
    .footer-nav-menu ul {
        flex-wrap: wrap;
    }
    .menu-1 ul li {
        margin: 0 20px;
        width: 23%;
        line-height: 30px;
        font-size: 13px;
        text-align: center;
    }
    .menu-1 ul li a{
        font-size: 13px;
    }
    .footer-nav-menu ul {
        margin-top: 20px;
    }
    .menu-2 li {
        width: 23%;
        text-align: center;
        line-height: 50px;
    }
    .menu-2 li a i{
        font-size: 30px;
    }
    footer i.fa-brands.fa-youtube{
        font-size: 30px;
    }
    .terms-of-service a, .copyright p {
        font-size: 10px !important;
    }
    .menu-3 li {
        width: 41%;
        text-align: center;
    }

}

/* For tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .header_section .container {
        grid-template-areas: 
            'logo logo'
            'menu action';
    }
    nav.header_nav_menu_item ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .header_action {
        margin-top: 0;
    }
    .header_logo {
        text-align: center;
    }
    
}